<app-header></app-header>
<div>
<div class="Welcome">
  <p>Bienvenue chez RPG!</p>
  <p>Pour créer tes fiches de personnages aucun compte n'est nécessaire. Attention toutefois,
    sans compte, tu ne pourras pas retrouver tes fiches à ta prochaine connexion.
  </p>
  <p>A bientôt à l'auberge!</p>
  <a  routerLink="peons/create" routerLinkActive="active">Ne pas s'enregistrer</a>
</div>

</div>
