div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 500px;
  background-image: url("https://p0.storage.canalblog.com/09/54/1670638/125137037.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'MedievalSharp', cursive;
}
p{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  margin-left: 30px;
}
a{
  font-family: 'MedievalSharp', cursive;
  font-style: italic;
  text-decoration: none;
}

