.Global {
  display: flex;
  justify-content: center;
}

.Parchemin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 500px;
  height: 600px;
  background-image: url("https://p0.storage.canalblog.com/09/54/1670638/125137037.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'MedievalSharp', cursive;
}

.PseudoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.PasswordDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
margin: 25px;
}

Input {
  width: 200px;
  heiht: 50px;
  text-align: center;
  background: #f9ebc6;
  font-family: 'MedievalSharp', cursive;
  font-size: 18px;
  font-style: italic;
  border: none;
}
.ButtonDiv{
  display: flex;
  justify-content: center;
}
.Button{
  width: 100px;
  height: 50px;
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
  background: none;
  background-image: url("https://xballiet.github.io/ImagesMH/Parchemin1.gif");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  margin: 10px;
}

