header {
  background: none;
  color: white;
  font-family: 'MedievalSharp', cursive;
  cursor: url("d8pb4hh-b726c6d6-b216-4d1a-a5e2-94f06a01d04c.png"), default;

}

.Logo {
  width: 50px;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeadLeft {
  display: flex;
  flex-direction: row;
}

.TitreSite {
  margin-left: 30px;
  margin-top: 20px;
  text-align: center;
  color: white;
}

.HeadRight {
  display: flex;
  flex-direction: row;
}

.Button {
  width: 100px;
  height: 50px;
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
  background: none;
  background-image: url("https://xballiet.github.io/ImagesMH/Parchemin1.gif");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  margin: 10px;
}
