<header>
  <div class="Header">
    <div class="HeadLeft">
      <img class="Logo" src="http://didine66.d.i.pic.centerblog.net/66b0c601.gif"/>
      <a class="TitreSite" routerLink="" routerLinkActive="active">Accueil</a>
    </div>
    <div class="HeadRight">
      <p *ngIf="name != null">Bienvenue {{name}}</p>
      <button class="Button">Se connecter</button>
      <button class="Button" routerLink="/player/newregister" routerLinkActive="active">Créer un compte</button>
    </div>
  </div>
</header>
<app-new-player-register *ngIf="false" (Emitter)="loginCreate($event)"></app-new-player-register>
<router-outlet></router-outlet>
