body{
  font-family: 'MedievalSharp', cursive;
  background-image: url("https://media.giphy.com/media/ntUBng0YZeuI/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
}/* You can add global styles to this file, and also import other style files */
