<app-header></app-header>
<div>
  <div class="Auto">
    <button *ngIf="showButtons1" class="Parchemin" (click)="enterName()">Je veux générer mon péon avec des
      caractéristiques aléatoires.
    </button>
    <div class="Name" *ngIf="show">
      <label class="NameLabel">Veuillez entrer un nom de personnage:</label>
      <input class="NameContent" type="text" [(ngModel)]="name">
      <label class="ClassLabel">Veuillez choisir une classe:</label>
      <select class="Select">
        <option (click)="chooseClass('PEON')">PEON (ATTRIBUTS ALEATOIRES)</option>
        <option (click)="chooseClass('WARRIOR')">WARRIOR</option>
        <option (click)="chooseClass('ROGUE')">ROGUE</option>
        <option (click)="chooseClass('HUNTER')">HUNTER</option>
        <option (click)="chooseClass('PRIEST')">PRIEST</option>
        <option (click)="chooseClass('MAGUS')">MAGUS</option>
      </select>
      <button (click)="clicAuto()">
        Générer
      </button>
    </div>
    <app-character-sheet *ngIf="showSheet" [newPeon]="returnNewPeon"></app-character-sheet>
  </div>
  <div>
    <button routerLink="/peons/createmanual" routerLinkActive="active" *ngIf="showButtons1" class="Parchemin">Je veux
      créer
      moi-même mon péon.
    </button>
  </div>
</div>
