div{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
button{
  border: none;
  background: none;
  font-family: 'MedievalSharp', cursive;
}
.Auto{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Name{
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
  text-align: center;
  background-image: url("https://xballiet.github.io/ImagesMH/Parchemin1.gif");
  background-size: cover;
  background-repeat: no-repeat;
  width: 320px;
  height: 170px;
}
.NameLabel{
  margin-top: 30px;
}
.ClassLabel{
  margin-top: 15px;
}
.NameContent{
  font-family: 'MedievalSharp', cursive;
  width: 150px;
  align-items: center;
  background: #f9ebc6;
  border: none;
  border-radius: 10px;
}
.Select {
  background: #f9ebc6;
  font-family: 'MedievalSharp', cursive;
  border: none;
  margin: 5px;
  margin-bottom: 15px;
}
.Parchemin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: none;
  width: 270px;
  height: 150px;
  background: none;
  background-image: url("https://xballiet.github.io/ImagesMH/Parchemin1.gif");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
  font-size: 16px;
  margin: 30px;
  cursor: pointer;
}
button{
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
  font-style: italic;
}
p{
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  margin-left: 50px;
}
