<app-header></app-header>
<div class="manualpage">
  <div *ngIf="showManualPage" class="Global">
    <div class="Line1">
      <div class="Portrait"></div>
      <div class="Caracteristics">
        <div class="carac">
          <label class="Label">Name:</label>
          <input class="NameContent" type="text" [(ngModel)]="name" (ngModelChange)="change()">
        </div>
        <div class="Carac">
          <label class="Label">Race:</label>
          <SELECT class="Select">
            <option (click)="chooseRace('HUMAN')">HUMAN</option>
            <option (click)="chooseRace('ELF')">ELF</option>
            <option (click)="chooseRace('DWARF')">DWARF</option>
            <option (click)="chooseRace('ORC')">ORC</option>
          </SELECT>
        </div>
        <div class="Carac">
          <label class="Label">Sex:</label>
          <SELECT class="Select">
            <option (click)="chooseSex('FEMALE')">FEMALE</option>
            <option (click)="chooseSex('MALE')">MALE</option>
          </SELECT>
        </div>
        <div class="Carac2">
          <label class="Label">Age:</label>
          <input type="range" class="Range" min="12" max="97" step="1" [(ngModel)]="age" (ngModelChange)="change()">
          <p>{{age}}</p>
        </div>
        <div class="Carac">
          <label class="Label">Class:</label>
          <select class="Select">
            <option (click)="chooseClass('PEON')">PEON (AUCUNE SPECIALITE)</option>
            <option (click)="chooseClass('WARRIOR')">WARRIOR</option>
            <option (click)="chooseClass('ROGUE')">ROGUE</option>
            <option (click)="chooseClass('HUNTER')">HUNTER</option>
            <option (click)="chooseClass('PRIEST')">PRIEST</option>
            <option (click)="chooseClass('MAGUS')">MAGUS</option>
          </select>

        </div>
      </div>
    </div>
    <div class="Attributs">
      <p>points to distribute: {{counter}}</p>
      <p *ngIf="showWarning">{{warningAttr}}</p>
      <tr>
        <td class="Attributs2">Strength:<input class="Input" type="number" min="0" [max]="max" [(ngModel)]="strength"
                                               (ngModelChange)="change()"></td>
        <td class="Attributs2">Dexterity:<input class="Input" type="number" min="0" [max]="max" [(ngModel)]="dexterity"
                                                (ngModelChange)="change()"></td>
        <td class="Attributs2">Endurance:<input class="Input" type="number" min="0" [max]="max" [(ngModel)]="endurance"
                                                (ngModelChange)="change()"></td>
      </tr>
      <tr>
        <td class="Attributs2">Intelligence:<input class="Input" type="number" min="0" [max]="max"
                                                   [(ngModel)]="intelligence" (ngModelChange)="change()"></td>
        <td class="Attributs2">Luck:<input class="Input" type="number" min="0" [max]="max" [(ngModel)]="luck"
                                           (ngModelChange)="change()"></td>
      </tr>
    </div>
    <div class="Line2">
      <img class="StuffImg" src="https://lagbt.wiwiland.net/images/0/03/ON_heavy_combat_armor.png">
      <div class="Stuff">
        <p>Helmet: </p>
        <p>Armor: </p>
        <p>Shoulders: </p>
        <p>Gauntlet: </p>
        <p>Belt: </p>
        <p>Leggings: </p>
        <p>Boots: </p>
        <p>Right hand: </p>
        <p>Left hand: </p>
      </div>
    </div>
    <div class="Inventory">
      <p class="InventoryTitle">Inventory</p>
      <div class="InventoryContent">
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="ButtonGenerate">
      <button class="Button" (click)="createManualPeon()" [disabled]="disabled">Generate</button>
    </div>
  </div>
  <app-character-sheet *ngIf="showSheet" [newPeon]="returnNewPeon"></app-character-sheet>
</div>
