.manualpage{
  display: flex;
  justify-content: center;
}
.Carac {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.Carac2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
}

.Global {
  background: none;
  background-image: url("http://img.over-blog-kiwi.com/0/96/52/15/20180808/ob_7c8394_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 500px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.Label {
  margin-right: 10px;
}

.Id {
  display: flex;
  justify-content: center;
}

.Portrait {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: black 2px solid;
  margin: 3px;
}

.NameContent {
  background: #f9ebc6;
  font-family: 'MedievalSharp', cursive;
  border: none;
}

.Range {
  margin: 5px;
}

.Select {
  background: #f9ebc6;
  font-family: 'MedievalSharp', cursive;
  border: none;
}

.Line1 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.Attributs2 {
  border-radius: 5px;
  border: black 1px solid;
  margin: 2px;
  width: 135px;
  justify-content: space-around;
}

.Input {
  width: 50px;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  background: #f9ebc6;
  font-family: 'MedievalSharp', cursive;
  border: none;
  text-align: center;
}

.StuffImg {
  width: 150px;
  border: none;
  margin-right: 10px;
}

.Line2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 1px;
}

.InventoryTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Inventory {
  border: black 2px solid;
  border-radius: 10px;
  height: 190px;
  width: 400px;
  margin-left: 3px;
}
.ButtonGenerate{
  display: flex;
  justify-content: center;
}
.Button {
  width: 100px;
  height: 50px;
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
  background: none;
  background-image: url("https://xballiet.github.io/ImagesMH/Parchemin1.gif");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  margin: 10px;
}
