<div class="Sheet">
  <div class="Id"><p>ID sheet: {{newPeon.id}}</p></div>

  <div class="Line1">
    <img class="Portrait" src="https://thenobleartist.com/wp-content/uploads/2018/03/stijn5sml.jpg">
    <div class="Caracteristics">
      <p>Name: {{newPeon.name}}</p>
      <p>Race: {{newPeon.race}}</p>
      <p>Sex: {{newPeon.sex}}</p>
      <p>Age: {{newPeon.age}}</p>
      <p>Class: {{newPeon.classPeon}}</p>
    </div>
  </div>
  <div class="Attributs">
    <tr>
      <td class="Attributs2">Strength: {{newPeon.strength}}</td>
      <td class="Attributs2">Dexterity: {{newPeon.dexterity}}</td>
      <td class="Attributs2">Endurance: {{newPeon.endurance}}</td>
    </tr>
    <tr>
      <td class="Attributs2">Intelligence: {{newPeon.intelligence}}</td>
      <td class="Attributs2">Luck: {{newPeon.luck}}</td>
    </tr>
  </div>
  <div class="Line2">
    <img class="StuffImg" src="https://lagbt.wiwiland.net/images/0/03/ON_heavy_combat_armor.png">
    <div class="Stuff">
      <p>Helmet: </p>
      <p>Armor: </p>
      <p>Shoulders: </p>
      <p>Gauntlet: </p>
      <p>Belt: </p>
      <p>Leggings: </p>
      <p>Boots: </p>
      <p>Right hand: </p>
      <p>Left hand: </p>
    </div>
  </div>
  <div class="Inventory">
    <p class="InventoryTitle">Inventory</p>
    <div class="InventoryContent">
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
</div>

