.Sheet {
  background: none;
  background-image: url("http://img.over-blog-kiwi.com/0/96/52/15/20180808/ob_7c8394_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 500px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.Id{
  display: flex;
  justify-content: center;
}

.Portrait {
  width: 100px;
  border-radius: 10px;
  border: black 2px solid;
  margin: 3px;
}
.Line1{
  display: flex;
  flex-direction: row;
}
.Attributs{

  height: 50px;
}
.Attributs2{
  border-radius: 5px;
  border: black 1px solid;
  margin: 2px;
  width:  135px;
  justify-content: space-around;
}
.StuffImg{
  width: 150px;
  border: none;
  margin-right: 10px;
}
.Line2{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.InventoryTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Inventory{
  border: black 2px solid;
  border-radius: 10px;
  height: 190px;
  width: 400px;
  margin-left: 3px;
}
